body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  margin: 0 auto;
}

.main {
  max-width: 600px;
  margin: 0 auto;
}

textarea {
  width: 100%;
  min-height: 160px;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

button {
  margin: 4px;
}
